# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [2]:
people = np.random.randint(10,100,size=10)

In [3]:
data = {'國家':['台灣','日本', '韓國', '美國', '法國', '瑞典', '瑞士', '德國', '義大利', '愛爾蘭'] ,
        '人口':people }
data = pd.DataFrame(data)

In [4]:
data

    國家  人口
0   台灣  37
1   日本  66
2   韓國  75
3   美國  56
4   法國  56
5   瑞典  15
6   瑞士  12
7   德國  35
8  義大利  88
9  愛爾蘭  73

In [5]:
#方法1
data[data['人口'] == data['人口'].max()]

    國家  人口
8  義大利  88

In [6]:
#方法2
data_sort = data.sort_values(by = '人口', ascending=0)
data_sort[0:1]

    國家  人口
8  義大利  88